<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Novo Cartão</strong></h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formulario" (ngSubmit)="salvarCartao()" #formDir="ngForm">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="nome"
                            placeholder="Nome do cartão">
                            <div class="erro-validacao" *ngIf="nome.invalid && formDir.submitted">
                                <p>Nome do cartão é obrigatório.</p>
                              </div>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Tipo:</label>
                        <select class="form-select" formControlName="tipoCartao" aria-label="Default select example">
                            <option selected hidden="false">Tipo</option>
                            <option value="COMUM">COMUM</option>
                            <option value="ESTUDANTE">ESTUDANTE</option>
                            <option value="TRABALHADOR">TRABALHADOR</option>
                        </select>
                        <div class="erro-validacao" *ngIf="tipoCartao.invalid && formDir.submitted">
                            <p>Tipo do cartão é obrigatório.</p>
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Criar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>