
<div class="container">
  <form [formGroup]="form" (ngSubmit)="logar()" id="form" autocomplete="off">
    <h1 id="message">Login</h1><small id="smallMessage"> </small>
    <div class="field">
      <input id="email" formControlName="login" type="email" name="email" placeholder="Email" autocomplete="off"/>
      <label for="email">Email</label>
    </div>
    <div class="field">
      <input id="password" formControlName="senha" type="password" name="password" placeholder="Password" autocomplete="new-password"/>
      <label for="password">Senha</label>
    </div>
    <button id="submit">Logar</button>
    
  </form>
</div>