<div class="container">
    <app-modal-novo-cartao [idUsuario]="usuario?.id"></app-modal-novo-cartao>
    <!-- Modal -->
    <div class="modal fade" id="modalR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Usuário: <strong>{{usuario?.nome}}</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <cdk-virtual-scroll-viewport itemSize="50" style="height: 350px;">
                    <div class="modal-body" *cdkVirtualFor="let cartao of usuario?.cartoes">
                        <h5><strong>Nome: </strong>
                            <p>{{cartao.nome}}</p>
                        </h5>
                        <h5><strong>Número: </strong>
                            <p>{{cartao.numeroCartao}}</p>
                        </h5>
                        <h5><strong>Tipo: </strong>
                            <p>{{cartao.tipoCartao}}</p>
                        </h5>
                        <h5>
                            <strong>Status: </strong>
                            <p *ngIf="cartao.status; else inativo" style="color: green;"><strong>ATIVO</strong></p>
                            <ng-template #inativo>
                                <p style="color: red;"><strong>INATIVO</strong></p>
                            </ng-template>
                        </h5>
                        <div class="botao-cartao">
                            <button type="submit" class="btn btn-warning" *ngIf="cartao.status; else desativado" (click)="statusCartao(usuario?.id, cartao.id)">Desativar Cartão</button>
                            <ng-template #desativado>
                                <button type="submit" class="btn btn-success" (click)="statusCartao(usuario?.id, cartao.id)">Ativar Cartão</button> 
                            </ng-template>
                            <button type="submit" class="btn btn-danger" (click)="removerCartao(usuario?.id, cartao.id)">Remover Cartão</button>
                            
                        </div>
    
                    </div>
                </cdk-virtual-scroll-viewport>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal"
                        href="#">Novo Cartão</button>
                </div>
            </div>
        </div>
    </div>
</div>