<div class="container">
    <app-modal-novo-cartao [idUsuario]="usuario?.id"></app-modal-novo-cartao>
    <!-- Modal -->
    <div class="modal fade" id="modalR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Usuário: <strong>{{usuario?.nome}}</strong></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngFor="let cartao of usuario?.cartao">
                    <h5><strong>Tipo: </strong>
                        <p>{{cartao.nome}}</p>
                    </h5>
                    <h5><strong>Número: </strong>
                        <p>{{cartao.numero_cartao}}</p>
                    </h5>
                    <h5><strong>Tipo: </strong>
                        <p>{{cartao.tipoCartao}}</p>
                    </h5>
                    <h5>
                        <strong>Status: </strong>
                        <p *ngIf="cartao.status; else inativo" style="color: green;">ATIVO</p>
                        <ng-template #inativo>
                            <p style="color: red;">INATIVO</p>
                        </ng-template>
                    </h5>
                    <div class="botao-cartao">
                        <button type="submit" class="btn btn-warning">Desativar Cartão</button>
                        <button type="submit" class="btn btn-danger">Remover Cartão</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal"
                        href="#">Novo Cartão</button>
                </div>
            </div>
        </div>
    </div>
</div>